
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { font-size: 10px; }

body {
    font-family: "Source Code Pro", monospace;
    background: #333;
    max-width: 106.8em;
    margin: 0 auto;
}

.container { background: #fafafa; }

.hero,
.card,
.card img  {
    border-radius: 0.3em;
}

/* === Header section ===*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.0em;
}

header .logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin: 1em 3em;
}

header .logo {
    width: 3.4em;
}

.logo-anchor:hover {
    border: none;
    opacity: 0.5;
}

header p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2.0rem;
}

header ul {
    display: flex;    
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
    margin-right: 4em;
}

header li { list-style: none; }

header a { 
    text-decoration: none;
    color: #0e0e0e;
    font-weight: 600;
    font-size: 1.8rem;
    margin-left: 2em;
    text-transform: uppercase;
    word-spacing: -0.4em;
}

header .header-links a:hover {
    opacity: 0.8;
    border-bottom: #32282a 1px solid;
}

/* === Hero section === */
.hero {
    height: 48em;
    background: #333 url(/images/herobg2.png) no-repeat center/cover;
    background-position: 80% 70%;
    display: flex;
    align-items: flex-end;
    color: #fafafa;
}

.hero .hero-section {
    width: 41em;
    margin: 3em;
    font-size: 1.6rem;
}
.hero h1 {
    color: #fff;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.hero a {
    text-decoration: none;
    color: #fafafa;
}

.hero a:hover {
    opacity: 0.8;
}

/* === Card holder section === */
.card-holder {
    display: grid;
    grid-template-columns: repeat(3, 30em);
    gap: 2.5em;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "... ... ..." 
        "one two three"
        "four five six"
        "... ... ...";
}

.card-holder p:nth-of-type(1) { font-size: 1.4em; }
.card-holder p:nth-of-type(2) { font-size: 1.4em; }

.card-holder h2 {
    margin: 0.7em 0 0.2em 0;
    font-size: 2.4rem;
    font-weight: 700;
    word-spacing: -0.4em;
}

.card-holder .card { 
    width: 30em;
    margin: 1em auto;
 }

.card-holder .card img {
    width: 30em;
    height: 23em;
}

.card1 { grid-area: one; }
.card2 { grid-area: two; }
.card3 { grid-area: three; }
.card4 { grid-area: four;}
.card5 { grid-area: five; }
.card6 { grid-area: six; }

.card:hover {
    opacity: 0.8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    padding: 2px;
}

.viewMore {
    font-family: "Source Code Pro", monospace;
    text-align: center;
    padding: 3em;    
}

.viewMore a {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000;
}

.viewMore a:hover {
    opacity: 0.75;
}

/* === Main blog.html styles === */
.container .recent-posts {
    margin-top: 2em;
    margin-bottom: 10px;
    text-align: center;
}

.container .recent-posts:hover {
    transition: text-decoration 0.3s ease-in;
    text-decoration: underline;
    cursor: pointer;
}
.main-blog {
    max-width: 84.4em;
    margin: 0 auto;
    text-align: left;
    font-family: "Source Code Pro", monospace;
}

.main-blog div {
    width: 98emx;
    height: 48em;
    display: block;
    margin: 0 calc((100% - 980px) / 2);
    filter: brightness(0.7);
    background: url('/images/mainBlogImg.png') no-repeat center/cover;
}

.main-blog h2 { 
    font-size: 3em;
    text-align: left;
    margin: 0 1.5rem;
 }

 .main-blog h3 {
    font-size: 1.6em;
    font-weight: 700;
    margin: 1.5rem;
 }
.main-blog p { 
    font-size: 1.6rem;
    padding: 1.5rem;
}
/* === About page styles === */
.about-container .recent-posts {
    font-size: 1.6em;
    word-spacing: -0.2em;
}

.about-container .recent-posts:hover {
    transition: text-decoration 0.3s ease-in;
    text-decoration: underline;
    cursor: pointer;
}

.about .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}

.about .avatar .avatar-content {
    width: 60em;
}

.about .avatar p,
.about-content p { 
    font-size: 1.4rem;
}

.about img {
    width: 18.2em;
    height: 18.2em;
    border-radius: 50%;
    margin-right: 1.5em;
}

.about h1 {
    margin-bottom: 0.8em;
}

.about .korean-text {
    font-size: 0.7em;
}

.about-content {
    max-width: 75em;
    margin: 0 auto;
    text-align: left;
    font-family: "Source Code Pro", monospace;
}

.about-content h2 {
    margin: 1em 0;
}

.about-content p { margin-bottom: 1em; }

/* === Footer === */
footer {
    background: #202020;
    color: #ececec;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2em;
    font-size: 1.2rem;
}

.more {
    display: flex;
    justify-content: center;    
    gap: 5px;
    font-size: 30rem;
    height: 100vh;
}

.letter {
    opacity: 0;
    animation: fadeIn 0.5s forwards;
}

.letter:nth-child(1) {
    animation-delay: 0s;
}

.letter:nth-child(2) {
    animation-delay: 0.5s;
}

.letter:nth-child(3) {
    animation-delay: 1s;
}

.letter:nth-child(4) {
    animation-delay: 1.5s;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
