
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { font-size: 10px; }

body {
    font-family: "Source Code Pro", monospace;
    background: #333;
    max-width: 106.8em;
    margin: 0 auto;
}

.container { background: #fafafa; }

.hero,
.card,
.card img  {
    border-radius: 0.3em;
}

/* === Header section ===*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.0em;
}

header .logo-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin: 1em 3em;
}

header .logo {
    width: 3.4em;
}

header p {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 2.0rem;
}

header ul {
    display: flex;    
    justify-content: flex-end;
    align-items: center;
    gap: 1.5em;
    margin-right: 4em;
}

header li { list-style: none; }

header a { 
    text-decoration: none;
    color: #0e0e0e;
    font-weight: 600;
    font-size: 1.8rem;
    margin-left: 2em;
    text-transform: uppercase;
    word-spacing: -0.4em;
}

header a:hover {
    opacity: 0.75;
}

/* === Hero section === */
.hero {
    height: 48em;
    background: #333 url(images/herobg2.png) no-repeat center/cover;
    background-position: 80% 70%;
    display: flex;
    align-items: flex-end;
    color: #fafafa;
}

.hero .hero-section {
    width: 41em;
    margin: 3em;
    font-size: 1.6rem;
}
.hero h1 {
    color: #fff;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

/* === Card holder section === */
.card-holder {
    display: grid;
    grid-template-columns: repeat(3, 30em);
    gap: 2.5em;
    justify-content: center;
    align-items: center;
    grid-template-areas:
        "... ... ..." 
        "one two three"
        "four five six"
        "... ... ...";
}

.card-holder p:nth-of-type(1) { font-size: 1.4em; }
.card-holder p:nth-of-type(2) { font-size: 1.4em; }

.card-holder h2 {
    margin: 0.7em 0 0.2em 0;
    font-size: 2.4rem;
    font-weight: 700;
    word-spacing: -0.4em;
}

.card-holder .card { 
    width: 30em;
    margin: 1em auto;
 }

.card-holder .card img {
    width: 30em;
    height: 23em;
}

.card1 { grid-area: one; }
.card2 { grid-area: two; }
.card3 { grid-area: three; }
.card4 { grid-area: four;}
.card5 { grid-area: five; }
.card6 { grid-area: six; }

.viewMore {
    font-family: "Source Code Pro", monospace;
    text-align: center;
    padding: 3em;
    
}

.viewMore a {
    font-size: 1.4rem;
    font-weight: 700;
    color: #000;
}

.viewMore a:hover {
    opacity: 0.75;
}

/* === Footer === */
footer {
    background: #202020;
    color: #ececec;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 2em;
    font-size: 1.2rem;
}

/* === @media styles === */
/* @media (max-width: 640px) and (max-height: 360px) {
    .card-holder {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "one two"
            "three four"
            "five six";
        background: red;
    }
} */

@media(max-width: 990px) {
    .card-holder {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "... ..." 
            "one two"
            "three four"
            "five six"
            "... ... ";
    }
}

@media(max-width: 64.3em) {        
    header { 
        justify-content: space-between; 
        align-items: center;
    }
    header p,
    header a {
        font-size: 1.1rem;
    }
    header .logo-header { margin: 0 2px; }
    header ul { gap: 0; }

    .hero .hero-section,
    .card-holder p {
        font-size: 1.2rem;
    }
    .hero h1 { font-size: 1.7em; }
    .card-holder h2 { margin: 0.3em 0 0.2em 0; }
    .card-holder .card { margin-bottom: 0; }
}

@media(max-width: 48em) and (orientation: portrait) {
    .card-holder {
        grid-template-columns: 1fr;
        grid-template-areas:
            "one"
            "two"
            "three"
            "four"
            "five"
            "six";
        }    
}